<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My notes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body style="background: lightslategrey">
<header class="p-3 bg-dark text-white">
    <div class="container" th:object="${user}">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="/notes" class="nav-link px-2 text-white">Notes</a></li>
                <li><a href="/newnote" class="nav-link px-2 text-white">New Note</a></li>
                <li><a href="/mynote" class="nav-link px-2 text-white">My Note</a></li>
                <li><a href="/settings" class="nav-link px-2 text-white">Settings</a></li>
            </ul>
            <div class="text-end" th:if="${user}">
                <button type="button" class="btn btn-outline-light me-2" onclick="logoutForm()">Log out</button></div>
            <div th:unless="${user}">
                <button type="button" class="btn btn-outline-light me-2" onclick="loginForm()">Login</button>
                <button type="button" class="btn btn-outline-light me-2" onclick="signUpForm()">Sign-up</button>
            </div>
        </div>
    </div>
</header>
<br>
<br><div class="row mb-4" style="margin-left: 20px">
    <th:block th:each="note : ${notes}">
        <div class="col-md-2">
            <div class="row g-0 border border-dark rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-200 position-relative">
                <div class="col p-1 d-flex flex-column position-static">
                    <h3 class="mb-0 text-center" >   <a style="color: black" th:href="@{'notes/' + ${note.id}}">[[${note.title}]]</a></h3>
                    <div class="mb-1 ">Author: [[${note.author.username}]]</div>
                    <div class="mb-1 ">[[${note.createdAt}]]</div>
                    <div class="text-center">
                        <a class="btn btn-secondary" th:href="@{'/mynote/edit/' + ${note.id}}">Edit</a>
                        <a class="btn btn-secondary" th:href="@{'/mynote/delete/' + ${note.id}}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</div>
<script type="text/javascript">
    function loginForm(){
        window.location="[[@{/login}]]"
    }
    function signUpForm(){
        window.location="[[@{/signUp}]]"
    }
    function logoutForm(){
        window.location="[[@{/logout}]]"
    }
</script>
</body>
</html>